<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
     <base href="/">
    <title>Añadir una foto a la noticia</title>
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="css/adopta-una-cabra.css">

    <body background='img/fondo.jpg'>
	<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i> </button>
                <a class="page-scroll" href="#page-top"> <span class="navbar-brand page-scroll">Adopta Una Cabra</span></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li> <a class="page-scroll" href="/listadocentros">Listado de Centros</a> </li>
                    <li> <a class="page-scroll" href="/">Tienda</a> </li>
                    <li> <a class="page-scroll" href="/noticias">Listado de Noticias</a> </li>
                    {{#unlogged}}
                    <li> <a class="page-scroll" href="/login">Iniciar Sesión</a> </li>
                    {{/unlogged}}
                    {{#logged}}
                    <li> {{#user}}<a class="page-scroll" href="/perfil/{{id}}">Hola, {{nombre}}</a>{{/user}}
                    <li> <a class="page-scroll" href="/logOut">Cerrar Sesión</a>
                    {{/logged}}
                </ul>
            </div>
        </div>
    </nav>
        <div class="container">
            <div class="well">
                <h1>¿Desea añadir una foto a la noticia?</h1>
            <hr>        
            <br>        
                <h4 style="text-align:center;margin-left:35px;margin-right:35px">Una imagen vale más que mil palabras... así que 
                sube una foto que ilustre la noticia para que podamos conocer mejor a nuestras cabras.</h4>
                <hr>
                <br>
				<div class="row col-md-12">
				<div class="col-md-2"></div>
				<div class="row col-md-3 text-right">
                 	<form action="/noticias/{{id}}/image/upload" method="post" enctype="multipart/form-data" id="form-image">
						<div><input type="file" name="file" id="input-image" /></div>
						<br>
						<button type="submit" class="btn btn-warning uploadImg">Cambiar Imagen<span class="glyphicon glyphicon-chevron-right"></span></button>
					</form>
								</div>
				<div class="row col-md-6 text-right">
							<a href="/noticias/{{id}}"><button  class="btn btn-warning uploadImg">Cancelar<span class="glyphicon glyphicon-chevron-right"></span></button></a>
					</div> 
								</div>  
								<hr>
								<br>
								<br>
								<br>
                </div>
                 </div>
        <footer style="background-color:black">
            <div class="container">
                <div class="row">
                    <div class="col-md-6"> <span class="copyright" style="color:white">Copyright &copy; Adopta Una Cabra</span> </div>
                    <div class="col-md-6">
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a> </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a> </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script type='text/javascript' src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!-- JavaScript jQuery code from Bootply.com editor  -->
        <script type='text/javascript'>
            $(document).ready(function () {});
        </script>
    </body>

</html>