
<!--{{#noticias}} -->

            <div class="row well">
                    <div class="col-md-12">
                        <div class="col-md-7">
                            <a> <img class="img-responsive img-list center-block" src="../../../assets/img/fondo.jpg" alt=""> </a>
                        </div>
                        <div class="col-md-5">
                            <!-- Title -->
                            <h1><!--{{titulo}}--></h1>
                            <!-- Description -->
                            <p><!--{{ descripcion }}--></p> <a class="btn btn-warning" >Leer noticia <span class="glyphicon glyphicon-chevron-right"></span></a> </div>
                    </div>
                    <br>
            </div> 



<!--{{/noticias}}-->